<section id="fotoFondo"></section>

<div class="content-fluid">
  
  <!--=====================================
  CABEZOTE   
  ======================================-->

  <header id="cabezote" class="row">
    
    <figure id="logotipo" class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
      
      <img src="assets/img/logotipo.png" alt="Logo">

    </figure>

    <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0">
      
      <br>

    </div>

    <div id="btnMovil" class="col-lg-0 col-md-0 col-sm-0 col-xs-12">
      
      <span class="fa fa-bars"></span>  

    </div>

    <nav class="col-lg-6 col-md-7 col-sm-8 col-xs-0">
      
      <ul>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="#cabezote">Inicio</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="#inicioGaleria">Galería</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="#inicioMouse">Mouse</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="#inicioScroll">Scroll</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="#inicioFormulario">Formulario</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a [routerLink]="['/api']">Angular</a></li>
      </ul>

    </nav>

  </header>

  <!--=====================================
  SLIDESHOW  
  ======================================-->

  <tag-slide></tag-slide>

  <!--=====================================
  GALERIA 
  ======================================-->
  
 <tag-galeria></tag-galeria>
  
  <!--=====================================
  EFECTO DE MOUSE
  ======================================-->

  <tag-mouse></tag-mouse>

  <!--=====================================
  EFECTO DE SCROLL
  ======================================-->

  <tag-scroll></tag-scroll>

  <!--=====================================
  FORMULARIO
  ======================================-->

  <tag-formulario></tag-formulario>
  
</div>