<h1 id="inicioMouse" class="row titulos">
    
    <hr>

    MOVIMIENTO CON EL MOUSE

    <hr>

  </h1>

  <div id="efectoMouse" class="row">
    
    <figure></figure>
    <figure></figure>
    <figure></figure>

  </div>