<h1 id="inicioScroll" class="row titulos">
    
    <hr>

    EFECTOS CON EL SCROLL

    <hr>

  </h1>

  <div id="scroll">

  <!-- ARTÍCULO 1  -->
  
    <article class="row">
      
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

      <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        
        <figure class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
        
          <img src="assets/img/galeria/01.jpg">  

        </figure>

        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12">
          
          <h1>Lorem Ipsum</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus perspiciatis qui repellat, aperiam amet dignissimos.</p>

          <button>Leer Más</button>

        </div>

      </aside>

      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

    </article>

    <!-- ARTÍCULO 2  -->

    <article class="row">
      
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

      <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        
        <figure class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
        
          <img src="assets/img/galeria/02.jpg">  

        </figure>

        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12">
          
          <h1>Lorem Ipsum</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus perspiciatis qui repellat, aperiam amet dignissimos.</p>

          <button>Leer Más</button>

        </div>

      </aside>

      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

    </article>

    <!-- ARTÍCULO 3  -->  

    <article class="row">
      
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

      <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        
        <figure class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
        
          <img src="assets/img/galeria/03.jpg">  

        </figure>

        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12">
          
          <h1>Lorem Ipsum</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus perspiciatis qui repellat, aperiam amet dignissimos.</p>

          <button>Leer Más</button>

        </div>

      </aside>

      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

    </article>

    <!-- ARTÍCULO 4  -->

    <article class="row">
      
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

      <aside class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
        
        <figure class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
        
          <img src="assets/img/galeria/04.jpg">  

        </figure>

        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12">
          
          <h1>Lorem Ipsum</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus perspiciatis qui repellat, aperiam amet dignissimos.</p>

          <button>Leer Más</button>

        </div>

      </aside>

      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0">
      <br>
      </div>

    </article>    

  </div>
